body{
    width:100%;
    height:auto;
    background-image: url('assets/img/background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.error {
    color: rgb(255, 32, 32);
}
.login{
    min-height: 100vh;
}

.panel {
    background-color: #0f0f3a;
}

.logo {
    margin-bottom: 100px;
}

.logo, h1, .custom-control, .lower {
    color: white;
}

.butn {
    background-color: #4e4feb;
    color: white;
    width: 305px;   
}

.inputs {
    position: relative;
    width: 110px;
}

.inputs input {
    width: 305px;
    padding: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.25);
    background: #0f0f3a;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.inputs span  {
    position: absolute;
    margin-left: 10px;
    margin-top: -39px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;
}

.inputs .cpassw {
    width: 135px;
}

.inputs input:valid ~ .emails,
.inputs input:focus ~ .emails
 {
    background-color: #0f0f3a;
    color: #4e4feb;
    transform: translate(10px, -25px);
    border-left: 1px solid #4e4feb;
    border-right: 1px solid #4e4feb;
    font-size: .90em;
    padding: 0 5px;
    width: 75px;
 }

.inputs input:valid ~ .passw,
.inputs input:focus ~ .passw
 {
    background-color: #0f0f3a;
    color: #4e4feb;
    transform: translate(10px, -25px);
    border-left: 1px solid #4e4feb;
    border-right: 1px solid #4e4feb;
    font-size: .90em;
    padding: 0 5px;
    width: 70px;
 }

 .inputs input:valid ~ .cpassw,
.inputs input:focus ~ .cpassw
 {
    background-color: #0f0f3a;
    color: #4e4feb;
    transform: translate(10px, -25px);
    border-left: 1px solid #4e4feb;
    border-right: 1px solid #4e4feb;
    font-size: .90em;
    padding: 0 5px;
    width: 127px;
 }

 .inputs input:valid ~ .email,
 .inputs input:focus ~ .email
  {
     background-color: #0f0f3a;
     color: #4e4feb;
     transform: translate(10px, -25px);
     border-left: 1px solid #4e4feb;
     border-right: 1px solid #4e4feb;
     font-size: .90em;
     padding: 0 5px;
     width: 45px;
  }

.inputs input:valid,
.inputs input:focus
{
    border: 1px solid #4e4feb;
}

@media (max-width: 1316px) {
    form{
        margin-left:-30px;
    
    }
}

@media (max-width: 991px) {
    form{
        padding-left:50px;
    }
}


@media (max-width: 767px) {
    form{
        padding-left:135px;
    }
}

@media (max-width: 575px) and (min-width: 440px) {
    form{
        padding-left:100px;
    
    }
}
